.Home {
    display: flex;
}

.shadow-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.shadow-background.show {
    opacity: 1;
    visibility: visible;
}

.Header {
    /* Your existing styles for the Header component */
}

.Header.show-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.Footer {
    /* Your existing styles for the Footer component */
}

.Footer.show-shadow {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}